var bar = function (a, b) {
  if (a && b) {
    // console.log(a);
    // console.log(b);
    if (a.toString().indexOf(b) >= 0) {
      return true
    } else {
      return false
    }
  }
}

var splitTime = function (a) {
  if (a) {
    var b = a.slice(0, 10)
  }
  return b
}

var filters = {
  toFix2: function (value) {
    return value.toFixed(2)//此处2为保留两位小数
  },
  toFix0: function (value) {
    return value.toFixed(0)//此处2为保留两位小数
  }
}

module.exports = {
  bar: bar, 
  splitTime: splitTime, 
  toFix2: filters.toFix2,
  toFix0: filters.toFix0
};